SECRET_KEY=CHANGE-ME

# 0 False, 1 True
DEBUG=1

# Comma Separated values
ALLOWED_HOSTS=127.0.0.1, localhost

DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=CHANGE-ME
POSTGRES_USER=CHANGE-ME
POSTGRES_PASSWORD=CHANGE-ME
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Frontend URL (used for password reset links)
FRONTEND_URL=http://localhost:3000

# Resend API Configuration
RESEND_API_KEY=re_xxxxxxxxx

# Email Configuration
EMAIL_FROM=Acme <onboarding@yourdomain.com>
CONTACT_EMAIL=team@yourdomain.com

# Webhook Secret
RESEND_WEBHOOK_SECRET=whsec_xxxxxxxxx

# Audience ID
RESEND_AUDIENCE_ID=aud_xxxxxxxxx

# Template IDs
RESEND_TEMPLATE_ID=tpl_xxxxxxxxx
RESEND_PASSWORD_RESET_TEMPLATE_ID=tpl_xxxxxxxxx
